<ion-header>
  <ion-toolbar [class]="bgColorHeader">
    <ion-buttons slot="start" routerLink="/tabs/category">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [class]="headerTitle">Shopping Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditMode()">
        {{ isEditMode ? 'Done' : 'Edit' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="cartItems.length > 0; else emptyCart">
    <ion-row *ngFor="let item of cartItems; let i = index">
      <ion-col size="12">
        <ion-card [class]="productCardStyle">
          <ion-card-content [class]="productCartContentStyle">
            <ion-grid>
              <ion-row>
                <ion-col size="5" [class]="productCartImageStyle">
                  <ion-img [src]="item.image"></ion-img>
                </ion-col>
                <ion-col size="7" [class]="productDetailsStyle">
                  <ion-button
                    *ngIf="isEditMode"
                    fill="clear"
                    color="danger"
                    (click)="removeItem(i)"
                    class="removeButtonStyle"
                  >
                    <ion-icon name="close-sharp"></ion-icon>
                  </ion-button>
                  <ion-label [class]="productCartNameStyle">
                    {{ item.name }}
                  </ion-label>
                  <ion-label [class]="productPriceStyle">
                    ₱{{ item.price }}
                  </ion-label>
                  <ion-label [class]="productQuantityStyle">
                    Quantity: {{ item.quantity }}
                  </ion-label>
                  <ion-label [class]="productPriceStyle">
                    Total: ₱{{ item.price * item.quantity | number: '1.2-2' }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #emptyCart>
    <ion-row>
      <ion-col>
        <ion-text color="medium">
          <h3>There are no items in your cart.</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

<ion-footer *ngIf="cartItems.length > 0">
  <ion-toolbar>
    <ion-title>Total: ₱{{ totalPrice | number: '1.2-2' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="checkOut()">Check Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

